*{
    padding:  0 ;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Times New Roman";
    scroll-behavior: smooth;
}

/* Navbar */

.navbar{
    height: 5vw;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: fixed;
    background: white;
    width: 100%;
z-index: 99;
}
.navbar nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vw;
}
nav h1{
    color: #8f46de;
    font-size: 2vw;
}
.navlinks ul{
    display: flex;
    gap: 3vw;
}
.navlinks ul{
    list-style: none;
    font-size: 1.1vw;
    font-weight: 600;
}

.navlinks ul li a{
    text-decoration: none;
    color: #0a263e;
}
.navbar ul li a:hover{
    transition: all ease 0.5s;
    color: #8f46de;
}
.button button{
    width: 8vw;
    height: 2.5vw;
    border: 1px solid #8f46de;
    font-size: 1vw;
    color: #8f46de;
    background: transparent;
    cursor: pointer;
    border-bottom-right-radius: 1vw;
    border-top-left-radius: 1vw;
}
.button button:hover{
    background-color: #8f46de;
    color: white;
    transition: all ease 0.5s;
}

main{
}

/* Home  */

.home{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 11vw;
    padding-top: 5vw;
}
.content{
    width: 50%;
}
.content h3{
    font-size: 2.5vw;
    width: 30vw;
    color: #0a263e;
}
.content h1{
    font-size: 4vw;
    padding: 1vw 0;
    color: #0a263e;
    
}
.content p{
    width: 30vw;
    font-size: 1.1vw;
    color: #0d2d4a;
    line-height: 1.3;
}
.content .button button{
    background-color: #8f46de;
    color: white;
    margin: 3vw 0;
    width: 10vw;
    height: 3vw;
    font-size: 1.2vw;
    font-weight: 600;
}
.content .button button:hover{
    background-color: white;
    border: 1px solid #8f46de;
    color: #8f46de;
    transition: all ease 0.5s;
}
.img{
    display: flex;
    justify-content: center;
}
.img img{
    width: 49.7vw;
}
.container{
    height: 100vh;
}

 /* About  */

 .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.about .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Course  */

.course{
    width: 100%;
}
.joinCourse{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6vw 0;
}
.joinCourse .content{
    margin-left: 12vw;
}
.course .img img{
    width: 35vw;
}
.course .img .img_bg{
    width: 35vw;
    height: 32vw;
    background-color: #8f46de;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

/* Learn_card  */
.learnCard{
    display: flex;
    justify-content: center;
    gap: 5vw;
}
.learn h1{
    font-size: 3vw;
    padding: 1vw 0;
    color: #0a263e;
    text-align: center;
    margin: 5vw 0;
}
#bg_blue{
    background-color: #8f46de;
}
.card_img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8f46de;
}
.card_img img{
    width: 16vw;
}